* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 70px;
  margin: 0;
  padding: 20px;
}
.nav-list{
  list-style: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-right: 5px;
  background-color: green;
  padding: 10px;
}
.jitu{
  text-transform: uppercase;
  color: green;
  text-shadow: 4px 4px 4px  greenyellow ;
}
.t , .g {
font-size: 45px;
font-family: fantasy;
color: red;
}
.nav-list li{

 padding: 6px 15px;
}

.active, .nav-list li:hover {
  background-color: greenyellow;
  border-radius: 5px;
}

.nav-list li a{
text-decoration: none;
font-size: 20px;
font-family:sans-serif;
font-size:larger;

color: white;
}
