* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 70px;
    margin: 0;
    padding: 20px;
  }
  .nav-list{
    list-style: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin-right: 5px;
    padding: 10px;
  }